{sub_dirs, ["src", "deps"]}.

{cover_enabled, true}.

{deps, [{em, ".*", {git, "git://github.com/sheyll/erlymock.git"}},
       {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git"}}]}.

{erl_opts, [debug_info]}.

{escript_incl_apps, [jsx]}.

{escript_emu_args, "%%! -pa rysim/rysim/ebin -smp disable\n"}.

{edoc_opts, [{private, true}, {hidden, true}, {todo, true}]}.